$primary: #fff;
$darkcharcoal: #2F2F2F;
$coral: #FF8250;
$giantsorange: #FF6020;
$seashell: #FFF4EF;
$antiflashwhite: #F2F2F2;
$darkgray:#aaaaaa;
$mistyrose:#FFE3D8;
$deeppeach:#FFBFA6;

$font-regular: "Metropolis", Helvetica Neue, Arial, sans-serif;
$font-medium: "Metropolis-Medium", Helvetica Neue, Arial, sans-serif;
$font-bold: "Metropolis-Bold", Helvetica Neue, Arial, sans-serif;